<H1>$group</H1>
<p>$supers<p>

<table border="0" cellpadding="5" cellspacing="0" width="$tablew">
#set( $col = 1 )
#foreach( $venue in $subs )
#if( $col == 1)
	<tr>
#end
#if ( $venue.isEmpty  == true)
		<td align="left" valign="top" width="$tdw">
		</td>
#else
		<td align="left" valign="top" width="$tdw"><a
			href="https://www.thepinkspiderweb.com/?page_id=$venue.page"
			title="$venue.name" target="_blank">$venue.name</a>
		</td>
#end
#if( $col == $max)
	</tr>
#end
#set( $col = $col + 1 )
#if( $col > $max)
#set( $col = 1 )
#end
#end
</table>

