<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>tag:perbergman.com,2012-08-23:locations</title>
    <link href="master.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <img src="tokyo_static_map.png" alt="some_text"/>
  
